// Primary Color
$color-primary: #6d78d7;
$color-primary-dark: #4b5b9a;

// Secondary Color
$color-secondary:#1a1c2a;

// Color Grey
$color-light-grey-1: #f6f6f9;
$color-light-grey-2: #e3e3e3;
$color-light-grey-3: #a3a0a0;

// Color Black
$color-black:#000;

// Color White
$color-white: #fff;

// Primary Font
$font: Lato, Roboto, sans-serif; 